@import 'reset';

.say-hi {
    padding: 10px;

    &::before {
        content: 'David ';
        color: red;
        font-size: 20px;
        width: 200px;
        height: 200px;
        background: yellow;
        display: inline-block;
    }

    &::after {
        content: ' Afterrrrrrr';
        color: blue;
    }
}