@import 'reset';

.calc {
    margin-top: 30px;
    font-family: 'Courier New', Courier, monospace;
}

#calc-total {
    line-height: 80px;
    background: rgb(138, 47, 19);
    color: #fff;
    font-size: 40px;
    font-weight: 800;
    text-align: right;
    padding-right: 20px;
}

.calc-row {
    display: flex;
    align-items: center;
    user-select: none;

    >div {
        flex: 2;
        font-size: 30px;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #afafaf;
        height: 60px;
        border: 1px solid #fff;
        cursor: pointer;
        transition-property: background-color;
        transition-duration: 0.2s;

        &:hover {
            background: #bb5454;
            color: #fff;
        }

        &:last-child {
            flex: 1;
        }
    }
}