@import 'reset';

body {
    background: #000;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    .header-content {
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        border-radius: 10px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
}

.menu {
    list-style-type: none;
    display: flex;

    li {
        margin-left: 10px;
        font-weight: 700;
        text-align: center;


        &:first-child {
            margin-left: 0;
        }

        &:hover {
            color: #0929b8;
        }
    }

    .en {
        font-size: 12px;
        font-family: monospace;
        text-transform: uppercase;
    }

    .join-form {
        min-height: 100vh;
        color: #fff;
        background: #000;
        background-image: url(../images/banner.jpeg);
        background-size: cover;

        .join-form-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-height: 100vh;
        }
    }
}