@import 'reset';

.title {
    text-align: center;
    font-size: 40px;
    margin: 15px auto;
}

.student-table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
        border: 1px solid rgb(73, 72, 72);
        padding: 10px;
    }

    th {
        background: rgb(124, 120, 120);
    }

    tr td:last-child {
        text-align: right;
    }

    tr:nth-child(even) {
        background: rgb(62, 117, 179);
        color: #fff;
    }
}

.fn {
    margin: 10px auto;
}